<BodySlideConfig>
    <!-- 0 = FO3, 1 = FONV, 2 = Skyrim, 3 = FO4 -->
    <TargetGame>3</TargetGame>
    <WarnMissingGamePath>true</WarnMissingGamePath>
    <BSATextureScan>true</BSATextureScan>
    <GameDataFiles>
        <Fallout3></Fallout3>
        <FalloutNewVegas></FalloutNewVegas>
        <Skyrim>Skyrim - Animations.bsa; Skyrim - Interface.bsa; Skyrim - Meshes.bsa; Skyrim - Misc.bsa; Skyrim - Shaders.bsa; Skyrim - Sounds.bsa; Skyrim - Voices.bsa; Skyrim - VoicesExtra.bsa</Skyrim>
        <Fallout4>Fallout4 - Animations.ba2; Fallout4 - Interface.ba2; Fallout4 - Materials.ba2; Fallout4 - Meshes.ba2; Fallout4 - MeshesExtra.ba2; Fallout4 - Misc.ba2; Fallout4 - Shaders.ba2; Fallout4 - Sounds.ba2; Fallout4 - Startup.ba2; Fallout4 - Voices.ba2</Fallout4></GameDataFiles>
    <GameDataPaths>
        <Fallout3></Fallout3>
        <FalloutNewVegas></FalloutNewVegas>
        <Skyrim></Skyrim>
        <Fallout4></Fallout4></GameDataPaths>
    <!-- <GameDataPath></GameDataPath> -->
    <GameRegKey></GameRegKey>
    <GameRegVal></GameRegVal>
    <LogLevel>3</LogLevel>
    <SelectedOutfit>CBBE Body</SelectedOutfit>
    <SelectedPreset>CBBE</SelectedPreset>
    <!-- Default groups are the groups virtually assigned to outfits that are not currently members of any groups.
	This information is used by BodySlide for choosing what presets to display for outfits.
	If the attribute "includeInBuild" is true, batch building the specified groups will also build unassigned outfits. -->
    <DefaultGroups includeInBuild="true">
        <GroupName>CBBE</GroupName></DefaultGroups>
    <!-- Group aliases provide a way for presets saved under older group names to still apply when a group has been renamed -->
    <GroupAliases></GroupAliases>
    <Input>
        <!-- Sets the minimum and maximum slider values for the BodySlide UI. There might be clipping outside of the 0-100 range! -->
        <SliderMinimum>0</SliderMinimum>
        <SliderMaximum>100</SliderMaximum>
        <!-- Set the left mouse button to pan the view when dragged on the canvas in Outfit Studio -->
        <LeftMousePan>false</LeftMousePan></Input>
    <Editing>
        <!-- Center for move/rotate operations. Object = bounding box center, Origin = (0,0,0), Selected = unmasked vertex centroid -->
        <CenterMode>Object</CenterMode></Editing>
    <!--Light Settings-->
    <Lights>
        <Ambient>80</Ambient>
        <Brightness1>55</Brightness1>
        <Brightness2>45</Brightness2>
        <Brightness3>45</Brightness3></Lights>
    <!-- Reference templates are short cuts to loading a slider set as a reference in Outfit Studio -->
    <ReferenceTemplates>
        <Template sourcefile="SliderSets\CBBE.osp" set="CBBE Body" shape="CBBE">CBBE Body</Template></ReferenceTemplates>
    <!-- Animation data. The default skeleton reference is used by Outfit Studio to determine the positions and skinning transforms for all vertices of an outfit -->
    <Anim>
        <DefaultSkeletonReference>res\skeleton_fo4.nif</DefaultSkeletonReference>
        <SkeletonRootName>Root</SkeletonRootName></Anim>
    <LastGroupFilter></LastGroupFilter>
    <LastOutfitFilter></LastOutfitFilter>
</BodySlideConfig>
